body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.post img {
  opacity: .5;
  position: absolute;
  left: -48px;
  z-index: 0;
  width: 120px;
  top: 16px;
}


.post, .potst  {
  overflow: hidden;
  padding-left: 62px;
}


.potst img {
  opacity: .5;
  position: absolute;
  left: -48px;
  z-index: 0;
  width: 190px;
  top: 16px;
}


